body,
html {
  margin: 0px;
  padding: 0px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.ToDoRow {
  border: 2px solid grey;
  padding: 10px;
  display: flex;
  width: 400px;
  justify-content: space-between;
}
.title{
    font-size: 20px;
    font-weight: bold;
}
